<%= form_with model: @tasks, local: true do |f| %>
  <div class="new-title">
    <div class="weight-bold-text">
      目標
    </div>
    <div class="title-input">
      <details>
        <summary><%= @tasks.title %></summary>
        <%= f.text_field :title, class:"form-text", id:"title", placeholder:"目標の数値や期間など,具体的に書きましょう。例：半年で５kgダイエット,３ヶ月後の数学試験で８０点以上を取る)" %>
      </details>
    </div>

    <div class="weight-bold-text">
      詳細
    </div>
      <details>
        <summary><%= @tasks.title_detail %></summary>
        <%= f.text_area :title_detail, class:"form-textarea", id:"title_detail", placeholder:"目標を達成する為の仕組みを考えましょう。具体的かつ分かりやすいものがGood！" %>
      </details>
    <div class="weight-bold-text">
      カテゴリー選択
    </div>
    <div class="title-input">
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box"}) %>
    </div>
  </div>

  <%# jsを使ってタスク名以降のフォームを追加させる %>
  <div class="new-task">
    <div class="weight-bold-text">
      個別タスク名
    </div>
    <div class="form-input">
      <details>
        <summary><%= @tasks.task %></summary>
        <%= f.text_field :task, class:"form-text", id:"task", placeholder:"詳細で書いた仕組みを一つのタスクに分割しよう" %>
      </details>
    </div>

    <div class="weight-bold-text">
      個別タスク詳細
    </div>
      <details>
        <summary><%= @tasks.task_memo %></summary>
        <%= f.text_area :task_memo, class:"form-textarea", id:"task_memo", placeholder:"箇条書きなどでこのタスクで達成することを書こう！" %>
      </details>
    <div>
    [個別タスクを追加] [個別タスクを削除]
    </div>
  </div>
  <div class="btn-contents">
    <div class="sell-btn-content">
        <%= f.submit "更新する" ,class:"create-btn" %>
    </div>
    <div class="delete-btn-content">
        <%= button_to '削除する', task_path(@tasks.id), method: :delete %>
    </div>
    <div class="up-btn-content">
        <%= f.submit "アップロード" ,class:"create-btn" %>
    </div>
  </div>
<% end %>

