<%= form_with model: @task, local: true do |f| %>
  <div class="new-title">
    <div class="weight-bold-text">
      目標（※タイトルとして表示されます）
    </div>
    <div class="title-input">
      <%= f.text_field :title, class:"form-text", id:"title", placeholder:"目標の数値や期間など,具体的に書きましょう。例：半年で５kgダイエット,３ヶ月後の数学試験で８０点以上を取る)" %>
    </div>

    <div class="weight-bold-text">
      詳細
    </div>
    <%= f.text_area :title_detail, class:"form-textarea", id:"title_detail", placeholder:"目標を達成する為の仕組みを考えましょう。具体的かつ分かりやすいものがGood！" %>
    <div class="weight-bold-text">
      カテゴリー選択
    </div>
    <div class="title-input">
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box"}) %>
    </div>
    <details>
      <summary>カテゴリー選択のコツ</summary>
      運動：スポーツなど体を動かすもの全般<br>
      知識：勉強、仕事、趣味などのうち知識を習得するもの<br>
      外見：化粧、ファッション、ダイエットなど外見の向上に関するもの<br>
      人格：大きな声で挨拶、自分から謝ろうなどの心がけ、効率を上げるためのテクニックなど<br>
      胆力：根気・根性などと言い換えても可。新しい挑戦や苦手の克服など<br>
      その他：上記に該当しないと思った時にお使いください<br>
      <br>
      ※あなたの中で重複していると感じる選択肢などもあると思いますが、直感的にお使いください！<br>
      (例：ダイエット→運動？外見？　勉強法→知識？人格？など。どちらでもOK)
    </details>
  </div>

  <%# jsを使ってタスク名以降のフォームを追加させる %>
  <div class="new-task">
    <div class="weight-bold-text">
      個別タスク名
    </div>
    <div class="form-input">
      <%= f.text_field :task, class:"form-text", id:"task", placeholder:"詳細で書いた仕組みを一つのタスクに分割しよう" %>
    </div>

    <div class="weight-bold-text">
      個別タスク詳細
    </div>
    <%= f.text_area :task_memo, class:"form-textarea", id:"task_memo", placeholder:"箇条書きなどでこのタスクで達成することを書こう！" %>
    <div>
    [個別タスクを追加] [個別タスクを削除]
    </div>
  </div>
  <div class="sell-btn-contents">
      <%= f.submit "作成する" ,class:"create-btn" %>
  </div>
<% end %>

